<!-- saving the original index in here -->
<!-- <% if (messages.success) { %>
  <div class="flash flash-success"><%= messages.success %></div>
<% } %> -->

<head>
	<script src="https://smtpjs.com/v3/smtp.js"></script>
</head>

<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h2>Upload Haptic Configuration</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form method="post" action="/haptics_configuration" novalidate enctype="multipart/form-data">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="form-field <%= errors.email ? 'form-field-invalid' : '' %>">
    <label for="email">Email</label>
    <input class="input" id="email" name="email" type="email" value="<%= data.email %>" />
    <% if (errors.email) { %>
      <div class="error"><%= errors.email.msg %></div>
    <% } %>
  </div>
  <div class="form-field">
    <label for="max_score">Max Score</label>
    <input class="input" id="max_score" name="max_score" type="text" value="<%= data.max_score %>" />
  </div>
  <div class="form-field">
    <label for="survey_link">Survey Link</label>
    <input class="input" id="survey_link" name="survey_link" type="text" value="<%= data.survey_link %>" />
  </div>
  <div class="form-field <%= errors.gesture ? 'form-field-invalid' : '' %>">
    <label for="gesture">Gesture</label>
    <select class="input" name = "gesture" id="gesture" type="gesture" value="<%= data.gesture %>">
        <option value="tap" >Tap</option>
        <option value="slide" >Slide</option>
        <option value="swipe" selected>Swipe</option>
        <option value="double_tap" >Double Tap</option>
        <option value="tap_hold" >Tap and Hold</option>
    </select>
    <% if (errors.gesture) { %>
      <div class="error"><%= errors.gesture.msg %></div>
    <% } %>
  </div>
  <div class="form-field">
    <label for="long_haptics_file">Long Haptics File</label>
    <input class="input" id="long_haptics_file" name="file" type="file" />
  </div>
  <div class="form-field">
    <label for="short_haptics_file">Short Haptics File</label>
    <input class="input" id="short_haptics_file" name="file" type="file" />
  </div>
  <div class="form-field">
    <label for="short_haptics_file">User Instructions Image</label>
    <input class="input" id="user_instructions_image" name="file" type="file" />
  </div>
  <div class="form-field <%= errors.message ? 'form-field-invalid' : '' %>">
    <label for="instructions">Instructions</label>
    <textarea class="input" id="instructions" name="instructions" rows="4" autofocus><%= data.instructions %></textarea>
    <% if (errors.instructions) { %>
      <div class="error"><%= errors.instructions.msg %></div>
    <% } %>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Submit</button>
  </div>
</form>